<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Produtos</title>
    <link rel="stylesheet" href="Styles/carrinho.css">
</head>

<body>
    <div class="container">
        <h1>Lista de Produtos</h1>
        <table>
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nome</th>
                    <th>Preço</th>
                </tr>
            </thead>
            <tbody id="product-list">
                <!-- Os produtos serão adicionados aqui dinamicamente -->
            </tbody>
        </table>

        <div>
            <h2 class="cart-title">Carrinho de Compras</h2>
            <ul class="cart-list">
                <!-- O carrinho de compras será exibido aqui -->
            </ul>
            <div class="cart-summary">
                <p>Subtotal: <span id="subtotal"></span></p>
                <p>Taxa de Entrega: <span id="delivery-fee"></span></p>
                <p>Total: <span id="total-price">0.00</span></p>
            </div>
            <button id="limpar-carrinho" class="clear-button">Limpar Carrinho</button>
            <button id="finalizar-compra" class="checkout-button" onclick="redirecionarParaPagamento()">Finalizar Compra</button>
        </div>
    </div>

    <script src="Scripts/carrinho.js"></script>
</body>

</html>