<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Produtos</title>
</head>
<body>
    <h1>Lista de Produtos</h1>
    <table>
        <thead>
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Preço</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="produto : ${produtos}">
            <td th:text="${produto.codigoP}"></td>
            <td th:text="${produto.nome}"></td>
            <td th:text="${produto.preco}"></td>
        </tr>
        </tbody>
    </table>
</body>
</html>