<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagamento</title>
    <link rel="stylesheet" href="Styles/pagamento.css">
</head>

<body>
    <h1>Opções de Pagamento</h1>
    <button onclick="realizarPagamento('credito')">Cartão de Crédito</button>
    <button onclick="realizarPagamento('debito')">Cartão de Débito</button>
    <button onclick="realizarPagamento('pix')">PIX</button>
    <button onclick="realizarPagamento('boleto')">Boleto Bancário</button>

    <script src="Scripts/pagamento.js"></script>
</body>

</html>