body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

.add-to-cart {
    padding: 8px 12px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.add-to-cart:hover {
    background-color: #45a049;
}

.cart-list {
    list-style-type: none;
    padding: 0;
}

.total-price {
    font-weight: bold;
}

/* Estilo para o botão de limpar carrinho */
#limpar-carrinho {
    padding: 8px 12px;
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

#limpar-carrinho:hover {
    background-color: #d32f2f;
}

/* Estilo para o título do carrinho */
h2.cart-title {
    color: #333;
    margin-top: 20px;
}

p {
    margin: 6px;
}

#finalizar-compra {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
}

#finalizar-compra:hover {
    background-color: #0056b3;
}